@import "tailwindcss";

.hero .framework {
  transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg) scale(1.4);
}

.hero .vite {
  transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg) scale(0.8);
}

.ticks {
  position: relative;
  width: 100%;
  height: 20px;
}

.ticks::before,
.ticks::after {
  content: '';
  position: absolute;
  top: -4.5px;
  border: 5px solid transparent;
}

.ticks::before {
  left: 0;
  border-left-color: var(--border, #e5e4e7);
}

.ticks::after {
  right: 0;
  border-right-color: var(--border, #e5e4e7);
}